/* Установить всем элементом на странице в котором указаны в CSS 
размер будут включены и padding и  border. */
*,
*::after *::before * {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    /* Убрать маркеры у маркерованного списка */
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}


table {
    border-collapse: collapse;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
}